.header_container {
    /* background-color: black; */
    display: flex;
    margin: 1.5rem 6rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(255, 255, 255);
    position: relative;
}
.header_link {
    color: #ffffff;
}
.header_link ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    margin-left: 10rem;
}
.header_link ul li:not(:last-child) {
    margin-right: 60px;
  }