.header_container {
    /* background-color: black; */
    display: flex;
    padding: 1.5rem 5rem;
    border-bottom: 2px solid white;
}
.header_link {
    color: #ffffff;
}
.header_link ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    margin-left: 10rem;
}
.header_link ul li:not(:last-child) {
    margin-right: 60px;
  }