.home_container {
  background-image: url("../images/housebackground.svg");
  /* background-color: #000000; */

  background-repeat: no-repeat;
  height: 50rem;
  display: flex;
  margin-top: -10rem;
  z-index: -1;
  padding: 15rem 5rem 0 5rem;
}
.affordable_place {
  color: #ffffff;
  font-weight: 550;
  font-size: 3rem;
  width: 30rem;
}
.map_select {
  margin-left: 10rem;
  width: 20rem;
  height: 15rem;
}
.map_container {
  width: 25rem;
}
.map {
  width: 21rem;
  height: 15rem;
  border-radius: 0.5rem;
  padding-top: 1.2rem;
  /* box-shadow: ; */
}
.select_container {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 1.2rem 2rem;
  border-radius: 0.5rem;
  width: 17rem;
  margin-top: 1.5rem;
}
.select_neighborhoodone {
  padding: 0.7rem;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0px 0px 5px;
}
.select_neighborhoodtwo {
  padding: 0.7rem;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
}
.select_image {
  background-color: #23a6f0;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  padding: 0.6rem;
  height: 1.3rem;
}
.select_image img {
  width: 1.4rem;
}
.minimum_container {
  margin: -10rem 5rem 0 5rem;
}
.minimum_living::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 55rem;
  height: 15px;
  width: 19%;
  border-bottom: 3px solid #f4511e;
}
.minimum_living p {
  font-size: 1.3rem;
  font-weight: 650;
}
.pool_container {
  display: flex;
}
.pool_image img {
  width: 20rem;
  margin-left: -2rem;
}
.selection:not(:last-child) {
  margin-right: 60px;
}
.selection_image {
  background: #ffffff;
  box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 10rem;
}
.selection img {
  width: 1.3rem;
  padding: 1rem;
}
.pay_container {
  display: flex;
  justify-content: space-between;
}
